#root {
  background-image: url("https://images.pixexid.com/a-tranquil-waterfall-in-a-magical-forest-where-shimmering-crystals-grow-from-th-ffdic1ci.jpeg");
  background-color: rgba(29, 29, 29, 0.486);
  background-blend-mode: overlay;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.data-body {
  margin: 1.5em;
  display: flex;
  justify-content: space-evenly;
  max-height: auto;
  overflow-y: scroll;
  height: 60vh;
}

.dash-elem {
  background-color: rgba(49, 49, 49, 0.65);
  border-radius: 15px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: 1.5em 2em 0;
  align-self: center;
  justify-content: space-around;
}

.filter-label {
  font-size: 18px;;
}

.filter {
  margin: 0 20px;
}

#selectType {
  font: inherit;
  margin-top: 5px;
  padding: 9px;
  border-radius: 5px;
}

.refreshBtn {
  margin: 5px;
}

.icon {
  height: 18px;
}

.refresh-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #828282; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a; 
}